@model IEnumerable<MvcMovie.Models.Uzsakymas>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Užsakymų sąrašas</h2>
                <a asp-action="Update" asp-controller="Uzsakymas" class="btn btn-primary">Priskirti naują užsakymą</a>
                <a asp-action="FilterOrders"  class="btn btn-primary">Pateikti tik priskirtus užsakymus</a>
            </div>
        </div>

        <div class="d-flex justify-content-center">
	        <table class="entitylist table table-striped table-hover">
	        	<thead>
	        		<tr>
	        			<th>
	        				Numeris
	        			</th>
	        			<th>
	        				Data
	        			</th>
	        			<th>
	        				Kaina
	        			</th>
                        <th>
                            Statusas
                        </th>
                        <th>
                            Įvertinta
                        </th>
	        			<th></th>
	        		</tr>
	        	</thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
				            <td>
				            	@Html.DisplayFor(m => item.Id)
				            </td>
				            <td>
				            	@Html.DisplayFor(m => item.Date)
				            </td>
				            <td>
				            	@Html.DisplayFor(m => item.Price)				
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Rated)
                            </td>
				            <td>
				            	<a asp-action="Edit" class="btn btn-primary">Keisti statusą</a>
				            	<a asp-action="Rate" class="btn btn-primary">Įvertinti</a>
				            </td>
			            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
